<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Админ панель</title>
    <link rel="stylesheet" href="../static/css/style_index.css">
</head>
<body>
    <div class="users-panel">
        <h2>Пользователи</h2>

    </div>
    
    <div class="management-panel">
        <div class="section">
            <h2>Информация о пользователе</h2>
            <div class="info-item">
                <label>Должность:</label>
            </div>
            <div class="info-item">
                <label>Место работы:</label>
            </div>
            <div class="info-item">
                <label>График работы:</label>
            </div>
            
            <h2 style="margin-top: 20px;">Изменить информацию</h2>
            <input type="text" placeholder="Должность">
            <input type="text" placeholder="Место работы">
            <input type="text" placeholder="График работы">
            <button>Сохранить изменения</button>
        </div>
        
        <div class="section">
            <h2>Добавить задачу</h2>
            <input type="text" placeholder="Название задачи">
            <textarea placeholder="Описание задачи" rows="3"></textarea>
            <button>Добавить задачу</button>
        </div>
        
        <div class="section">
            <h2>Добавить ежедневную задачу</h2>
            <input type="text" placeholder="Название задачи">
            <textarea placeholder="Описание" rows="2"></textarea>

            <button>Добавить ежедневную задачу</button>
        </div>
    </div>
</body>
</html>